<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><%= t('.title', default: [:"system.titles.#{params[:action]}"], model: Company.model_name.human.capitalize) %></h5>
        <h6 class="card-subtitle"></h6>
      </div>
      <div class="card-body">
        <%= render 'form', submit: t('helpers.submit.update'), disable_with: t('helpers.submit.updating') %>
      </div>
    </div>
  </div>
</div>