<html>
<head>
  <title><%= t('system.initials')%></title>
  <%= stylesheet_link_tag "application" %>
</head>

<body>
  <br />
  <br />
  <br />
  <br />
  <center><i class="fa fa-file"></i> Document Generator</center>
  <br />
  <br />
  <br />
  <br />
  <center>
    <h2><b><%= @msg %> </b></h2>
  </center>
  <br />
  <br />
  <br />
  <br />
  <center>
    <%= link_to "Ir para a página principal", root_path, class: 'btn btn-success btn-lg' %>
  </center>
</body>
</html>